@import url('./common.css');
@import url('../pages/catalog/catalog.css');
@import url('../pages/home/index.css');
@import url('../pages/my-library/my-library.css');
@import url('../layout/header/header.css');
@import url('../layout/footer/footer.css');
@import url('../components/team-modal/team-modal.css');
@import url('../components/hero/hero.css');
@import url('../components/details-modal/details-modal.css');
@import url('../components/trailer-error/trailer-error.css');
@import url('../components/trailer-modal/trailer.modal.css');
@import url('../layout/mobile-nav/mobile-nav.css');
@import url('../components/movie-card/movie-card.css');
@import url('../pages/catalog/genre.css');
@import url('../pages/catalog/movie-grid.css');
@import url('../pages/catalog/search.css');
@import url('../components/pagination/Pagination.css');
@import url('../pages/home/upcoming.css');
@import url('../pages/home/weekly.css');
@import url('../pages/my-library/genre.css');
@import url('../pages/my-library/load-more.css');
